=begin
#User API

#The User API represents all functionality that a user in Design Huddle may perform. Every API method is run in the context of a single user and requires a user-specific Access Token for authorization. The most common integration use cases consist of listing templates, creating design projects from those templates and exporting the finished designs. Read more about authentication <a target=\"_parent\" href=\"https://api.designhuddle.com#authentication\">here</a> and embedding the Design Huddle editor <a target=\"_parent\" href=\"https://api.designhuddle.com#embedding\">here</a>.

The version of the OpenAPI document: 2023-02-02T22:11:12Z
Contact: support@designhuddle.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.3.0

=end

require 'cgi'

module DesignHuddleUser
  class TemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List templates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :template_id Specify the Template ID to filter the result by.
    # @option opts [Array<Integer>] :template_ids Specify the Template IDs to filter the result by.
    # @option opts [String] :template_code Specify the Template Code to filter the result by.
    # @option opts [Array<String>] :template_codes Specify the Template Codes to filter the result by.
    # @option opts [Integer] :brand_id Specify the Brand ID to filter the result by.
    # @option opts [String] :brand_code Specify the Brand Code to filter the result by.
    # @option opts [String] :media_type Specify the media type to filter the result by.
    # @option opts [Array<String>] :media_types Specify the media types to filter the result by.
    # @option opts [Integer] :primary_template_category_item_id Specify the Primary Template Category Item ID to filter the result by.
    # @option opts [Array<Integer>] :primary_template_category_item_ids Specify the Primary Template Category Item IDs to filter the result by.
    # @option opts [Integer] :width Specify the width to filter the result by.
    # @option opts [Integer] :height Specify the height to filter the result by.
    # @option opts [String] :unit_type Specify the unit type to filter the result by.
    # @option opts [String] :search A search term used to narrow the focus of the result.
    # @option opts [String] :sort Specify which attribute to order the result by. (default to 'date_created')
    # @option opts [String] :order Specify whether the result should be retrieved in ascending or descending order. (default to 'DESC')
    # @option opts [Integer] :limit Specify the number of items per page to return. (default to 50)
    # @option opts [Integer] :page Specify which page of the result to return. (default to 1)
    # @option opts [Array<String>] :fields Specify the fields to the retrieve.
    # @return [GalleryTemplatesGETSuccess]
    def gallery_templates_get(opts = {})
      data, _status_code, _headers = gallery_templates_get_with_http_info(opts)
      data
    end

    # List templates
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :template_id Specify the Template ID to filter the result by.
    # @option opts [Array<Integer>] :template_ids Specify the Template IDs to filter the result by.
    # @option opts [String] :template_code Specify the Template Code to filter the result by.
    # @option opts [Array<String>] :template_codes Specify the Template Codes to filter the result by.
    # @option opts [Integer] :brand_id Specify the Brand ID to filter the result by.
    # @option opts [String] :brand_code Specify the Brand Code to filter the result by.
    # @option opts [String] :media_type Specify the media type to filter the result by.
    # @option opts [Array<String>] :media_types Specify the media types to filter the result by.
    # @option opts [Integer] :primary_template_category_item_id Specify the Primary Template Category Item ID to filter the result by.
    # @option opts [Array<Integer>] :primary_template_category_item_ids Specify the Primary Template Category Item IDs to filter the result by.
    # @option opts [Integer] :width Specify the width to filter the result by.
    # @option opts [Integer] :height Specify the height to filter the result by.
    # @option opts [String] :unit_type Specify the unit type to filter the result by.
    # @option opts [String] :search A search term used to narrow the focus of the result.
    # @option opts [String] :sort Specify which attribute to order the result by. (default to 'date_created')
    # @option opts [String] :order Specify whether the result should be retrieved in ascending or descending order. (default to 'DESC')
    # @option opts [Integer] :limit Specify the number of items per page to return. (default to 50)
    # @option opts [Integer] :page Specify which page of the result to return. (default to 1)
    # @option opts [Array<String>] :fields Specify the fields to the retrieve.
    # @return [Array<(GalleryTemplatesGETSuccess, Integer, Hash)>] GalleryTemplatesGETSuccess data, response status code and response headers
    def gallery_templates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.gallery_templates_get ...'
      end
      allowable_values = ["digital", "video", "print", "presentation"]
      if @api_client.config.client_side_validation && opts[:'media_type'] && !allowable_values.include?(opts[:'media_type'])
        fail ArgumentError, "invalid value for \"media_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["digital", "video", "print", "presentation"]
      if @api_client.config.client_side_validation && opts[:'media_types'] && !opts[:'media_types'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"media_types\", must include one of #{allowable_values}"
      end
      allowable_values = ["px", "in", "mm"]
      if @api_client.config.client_side_validation && opts[:'unit_type'] && !allowable_values.include?(opts[:'unit_type'])
        fail ArgumentError, "invalid value for \"unit_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["ASC", "DESC"]
      if @api_client.config.client_side_validation && opts[:'order'] && !allowable_values.include?(opts[:'order'])
        fail ArgumentError, "invalid value for \"order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TemplatesApi.gallery_templates_get, must be smaller than or equal to 1000.'
      end

      allowable_values = ["template_id", "template_code", "internal_project_id", "primary_template_category_item", "template_title", "dimensions", "preview_url", "thumbnail_url", "media_type", "date_created", "date_updated"]
      if @api_client.config.client_side_validation && opts[:'fields'] && !opts[:'fields'].all? { |item| allowable_values.include?(item) }
        fail ArgumentError, "invalid value for \"fields\", must include one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/gallery/templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'template_id'] = opts[:'template_id'] if !opts[:'template_id'].nil?
      query_params[:'template_ids'] = @api_client.build_collection_param(opts[:'template_ids'], :multi) if !opts[:'template_ids'].nil?
      query_params[:'template_code'] = opts[:'template_code'] if !opts[:'template_code'].nil?
      query_params[:'template_codes'] = @api_client.build_collection_param(opts[:'template_codes'], :multi) if !opts[:'template_codes'].nil?
      query_params[:'brand_id'] = opts[:'brand_id'] if !opts[:'brand_id'].nil?
      query_params[:'brand_code'] = opts[:'brand_code'] if !opts[:'brand_code'].nil?
      query_params[:'media_type'] = opts[:'media_type'] if !opts[:'media_type'].nil?
      query_params[:'media_types'] = @api_client.build_collection_param(opts[:'media_types'], :multi) if !opts[:'media_types'].nil?
      query_params[:'primary_template_category_item_id'] = opts[:'primary_template_category_item_id'] if !opts[:'primary_template_category_item_id'].nil?
      query_params[:'primary_template_category_item_ids'] = @api_client.build_collection_param(opts[:'primary_template_category_item_ids'], :multi) if !opts[:'primary_template_category_item_ids'].nil?
      query_params[:'width'] = opts[:'width'] if !opts[:'width'].nil?
      query_params[:'height'] = opts[:'height'] if !opts[:'height'].nil?
      query_params[:'unit_type'] = opts[:'unit_type'] if !opts[:'unit_type'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'fields'] = @api_client.build_collection_param(opts[:'fields'], :multi) if !opts[:'fields'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GalleryTemplatesGETSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserAccessToken']

      new_options = opts.merge(
        :operation => :"TemplatesApi.gallery_templates_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#gallery_templates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a template customization object
    # @param template_customization_objects_post_request [TemplateCustomizationObjectsPOSTRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TemplateCustomizationObjectsPOSTSuccess]
    def template_customization_objects_post(template_customization_objects_post_request, opts = {})
      data, _status_code, _headers = template_customization_objects_post_with_http_info(template_customization_objects_post_request, opts)
      data
    end

    # Create a template customization object
    # @param template_customization_objects_post_request [TemplateCustomizationObjectsPOSTRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TemplateCustomizationObjectsPOSTSuccess, Integer, Hash)>] TemplateCustomizationObjectsPOSTSuccess data, response status code and response headers
    def template_customization_objects_post_with_http_info(template_customization_objects_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.template_customization_objects_post ...'
      end
      # verify the required parameter 'template_customization_objects_post_request' is set
      if @api_client.config.client_side_validation && template_customization_objects_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'template_customization_objects_post_request' when calling TemplatesApi.template_customization_objects_post"
      end
      # resource path
      local_var_path = '/template/customization-objects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(template_customization_objects_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TemplateCustomizationObjectsPOSTSuccess'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['UserAccessToken']

      new_options = opts.merge(
        :operation => :"TemplatesApi.template_customization_objects_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#template_customization_objects_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
